<div class="session-container">  
  <% if flash[:notice] %>
    <% if @show_mainpage_link %>
      <%= link_to 'Access Mainpage', welcome_index_path, class: 'mainpage-link' %>
    <% end %>
  <% end %>

  <% if flash.now[:danger] %>
    <div class="alert alert-danger">
      <%= flash.now[:danger] %>
    </div>
  <% end %>
  <div class="form-container">
    <%= form_for :session, url: sessions_path do |f| %>
        <div class="field">
          <%= f.label :uni, "UNI" %><br>
          <%= f.text_field :uni %>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div>
        <div class="actions">
          <%= f.submit "Login", class: 'btn btn-primary' %>
        </div>
    <% end %>
  <p>Not registered? <%= link_to 'Sign up here', signup_path %></p>
  </div>
</div> 