<h1>User Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Gender: <%= @user.gender %></p>
<p>MBTI: <%= @user.mbti %></p>
<%= link_to 'Edit User Profile', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Back to Welcome Page', welcome_index_path, class: 'btn btn-primary' %>
<!-- Add more user attributes as needed -->