<div class="user-container">	
	<h1>User Profile</h1>
	<div class="user-data">
		<p><strong class "user-label">Name:</strong> <%= @user.name %></p>
		<p><strong class "user-label">Email:</strong> <%= @user.email %></p>
		<p><strong class "user-label">Gender:</strong> <%= @user.gender %></p>
		<p><strong class "user-label">MBTI:</strong> <%= @user.mbti %></p>
	</div>
	<div class="button-group">
		<%= link_to 'Edit User Profile', edit_user_path(@user), class: 'btn btn-primary btn-sm' %>
		<span class="button-space"></span>
		<%= link_to 'Back to Welcome Page', welcome_index_path, class: 'btn btn-primary btn-sm' %>
  	</div>
	<!-- Add more user attributes as needed -->
</div>