<%= form_for :session, url: sessions_path do |f| %>
    <div class="field">
      <%= f.label :uni, "UNI" %><br>
      <%= f.text_field :uni %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Login" %>
    </div>
<% end %>

<p>Not registered? <%= link_to 'Sign up here', signup_path %></p>
  