<h2>All Pairings</h2>

<%= link_to 'Add new pairing', new_pairing_path, class: 'btn btn-primary' %>
<div class="text-right">
  <%= link_to 'Back to Welcome Page', welcome_index_path, class: 'btn btn-primary' %>
</div>
<% if @pairings.any? %>
  <table class="table table-striped col-md-12" id="pairings">
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Target Number of People</th>
        <th>Current Number of People</th>
        <th>Meeting Time</th> <!-- Added this line -->
        <th>More Info</th>
        <th>Join</th> <!-- Added this line -->
      </tr>
    </thead>
    <tbody>
      <% @pairings.each do |pairing| %>
        <tr>
          <td>
            <%= pairing.restaurant.name %>
          </td>
          <td>
            <%= number_with_delimiter(pairing.target_number_of_people) %>
          </td>
          <td>
            <%= number_with_delimiter(pairing.current_number_of_people) %>
          </td>
          <td>
            <%= pairing.meeting_time.strftime('%Y-%m-%d %H:%M') if pairing.meeting_time.present? %>
          </td>
          <td>
            <%= link_to "More about this pairing", pairing_path(pairing) %>
          </td>
          <!-- Add the "Join" button -->
          <td>
            <% if @joinable_pairings.include?(pairing) %>
              <%= link_to 'Join', join_pairing_path(pairing), method: :post, class: 'btn btn-primary' %>
            <% else %>
              Full
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No pairings available. <%= link_to 'Add a new pairing', new_pairing_path %>!</p>
<% end %>
