<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= link_to 'Back to Pairings', pairings_path, class: 'btn btn-primary' %>

<%= form_with(url: join_pairing_path(@pairing), method: :post) do |form| %>
  <%= form.hidden_field :pairing_id, value: @pairing.id %>
  <%= form.submit 'Join', class: 'btn btn-success col-2 ml-2' %>
<% end %>
