<div class="pairing-container">  
  <!-- app/views/pairings/show.html.erb -->
  <h2>Details about this Pairing</h2>

  <div class="user-data">
		<p><strong class "user-label">Restaurant:</strong> <%= @pairing.restaurant.name %></p>
		<p><strong class "user-label">Target Number of People:</strong> <%= number_with_delimiter(@pairing.target_number_of_people) %></p>
		<p><strong class "user-label">Current Number of People:</strong> <%= number_with_delimiter(@pairing.current_number_of_people) %></p>
		<p><strong class "user-label">Users joined:</strong> <ul>
          <% @pairing.users.each do |user| %>
            <li><%= user.name %> (Uni: <%= user.uni %>)</li>
          <% end %>
        </ul>
    </p>
	</div>

  <div class="row">
  <div class="button-group">
    <%= link_to 'Edit', edit_pairing_path(@pairing), class: 'btn btn-primary btn-sm' %>
    <span class="button-space"></span>
    <%= link_to 'Back to pairings list', pairings_path, class: 'btn btn-primary btn-sm' %>
    <% if @pairing.current_number_of_people < @pairing.target_number_of_people %>
  </div>
    <% else %>
      <p class="text-danger">This pairing is full and cannot be joined.</p>
    <% end %>
  </div>
</div>